<html>
<head>
    <title>Project Time Report</title>
    <meta name="decorator" content="atl.general">
</head>
<body class="page-type-admin">
<div class="content-container" id="issue-crud-container">
    <div class="content-body">
        <h1>General project report</h1>

        #if ($errors && $errors.size()>0)
            <div class="aui-message error shadowed crud-error">
                #foreach($error in $errors)
                    <p class="title">
                        <span class="aui-icon icon-error"></span>
                        <strong>$error</strong>
                    </p>
                #end
            </div>
        #end

        #if ($issues.size() > 0)
            <div class="issues">
                <table class="aui">
                    <thead>
                    <tr>
                        <th>Project</th>
                        <th>Assignee</th>
                        <th>Time spent</th>
                    </tr>
                    </thead>
                    <tbody>
                        #foreach($project in $issues.entrySet())
                            #foreach($person in $project.getValue().entrySet())
                            <tr class="issue-line">
                                <td>$project.getKey()</td>
                                <td>$person.getKey()</td>
                                <td>
                                    #set ($millis = $person.getValue() * 1000)
                                    #set ($seconds = ($millis / 1000) % 60)
                                    #set ($minutes = ($millis / (1000 * 60)) % 60)
                                    #set ($hours = ($millis / (1000 * 60 * 60)) % 24)
                                    #if ($hours > 1) $hours h #end
                                    #if ($minutes > 1) $minutes m #end
                                </td>
                            </tr>
                            #end
                        #end
                    </tbody>
                </table>
            </div>
        #end
        <form method="get" action="create-report" class="aui">
            <input type="hidden" name="actionType" value="new">
            <input type="submit" class="button" value="Back">
        </form>
    </div>
</div>
</body>
</html>